{% extends "shop/base.html" %}


{% load static %}




{% block content %}




  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

<img src="{% if product.image %}{{ product.image.url }}{% else %} {% static "img/no_image.png" %}{% endif %}"  class="img-fluid img-thumbnail img-rounded" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.category }}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>$200</del>
              </span>
              <span>{{ product.price }}€</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ product.description|linebreaks }}</p>

            <form action="{% url "cart:cart_add" product.id %}" method="post" class="d-flex justify-content-left align-items-center">
              {{ cart_product_form }}
              {% csrf_token %}
              <input type="submit" value="Ajouter au panier" aria-label="Search" class="btn btn-primary btn-sm">
              
              
            </form>
          
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->





  {% endblock %}
